<div class="login-form" id="login-form">
  <h2 class="heading-secondary">WELCOME BACK!</h2>

  {{#if error}}
    <div id="errorModal" class="modal-overlay">
      <div class="modal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <p>{{error}}</p>
      </div>
    </div>
  {{/if}}

  <div class="form-box">
    <form class="form form--login" id="loginForm" novalidate>
      <div class="form__group">
        <label class="form__label" for="email">E-mail</label>
        <input class="form__input" id="email" name="email" type="email" placeholder="you@example.com">
        <div id="emailError" class="form__error"></div>
      </div>

      <div class="form__group">
        <label class="form__label" for="password">Password</label>
        <input class="form__input" id="password" name="password" type="password" placeholder="••••••••">
        <div id="passwordError" class="form__error"></div>
      </div>

      <div class="form__group">
        <button class="submit-button" type="submit">LOG IN</button>
      </div>

      <p class="switch-link">Don't have an account? <a href="/signup">Sign up</a></p>
    </form>
  </div>
</div>

<script>
  function closeModal() {
    document.getElementById('errorModal').style.display = 'none';
  }

  window.onload = function () {
    const modal = document.getElementById('errorModal');
    if (modal) {
      modal.style.display = 'flex';
    }
  }
</script>

<script src="/js/auth.js"></script>
