<div class="host-game-container">
  <h1>Host Game</h1>
  <form action="/host" method="POST" class="host-game-form">
    <input type="text" name="title" placeholder="Title" />

    <select name="sport" id="sportSelect">
      <option value="">Select Sport</option>
      <option value="Football">Football</option>
      <option value="Basketball">Basketball</option>
      <option value="Volleyball">Volleyball</option>
      <option value="Tennis">Tennis</option>
      <option value="Badminton">Badminton</option>
      <option value="Cricket">Cricket</option>
      <option value="Table Tennis">Table Tennis</option>
      <option value="Baseball">Baseball</option>
      <option value="Hockey">Hockey</option>
    </select>

    <input type="text" name="venue" placeholder="Venue" />


    <input type="date" name="gameDate" />
    <div class="form-row">
      <input type="time" name="startTime" placeholder="Start Time" />
      <input type="time" name="endTime" placeholder="End Time" />
    </div>
    <input type="number" name="playersRequired" placeholder="Players" />
    <input type="text" name="description" placeholder="Description" />
    <input type="number" name="costPerHead" placeholder="Cost per Head" />

    <select name="skillLevel">
      <option value="">Select Skill Level</option>
      <option value="Beginner">Beginner</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Advanced">Advanced</option>
    </select>

    <input type="text" name="location" placeholder="City" />

    <div class="form-checks">
      <label><input type="checkbox" name="bringEquipment" /> Bring your own equipment</label>
      <label><input type="checkbox" name="costShared" /> Cost shared</label>
    </div>

    <textarea name="extraInfo" placeholder="Use this space to tell about the format and other details"></textarea>

    <input type="hidden" name="host" value="{{hostId}}" />

    <button type="submit" class="submit-btn">Host Game</button>
  </form>
</div>

<script src="/js/hostGame.js"></script>